* {
  margin: 0;
}
.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app_stats {
  display: flex;
}
body {
  background-color: skyblue;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
@media (max-width: 750px) {
  .app {
    flex-direction: column;
  }
  .app_stats {
    flex-direction: column;
  }
}
.app_left {
  flex: 0.9;
}
.ho {
  margin-top: 20px;
  overflow: scroll;
  overflow-x: hidden;
  height: 480px;
}
.hol {
  background-color: white;
  display: flex;

  align-items: center;
  justify-content: flex-start;
  border-radius: 20px 0 0 20px;
}
